<div class="col-lg-6 text-center">
    <h2>Home of EdibleMami</h2>
    <p>Specializing in the art of crafting both tantalizing creations and artisanal pizzas, we invite you to embark on a journey of flavors that awaken the senses.</p>
    <p><img src="~/img/pizza.png" style="max-height:250px;" /></p>
    <div class="vstack gap-3">
        <div class="em-button">
            <a asp-action="Index" asp-controller="Events" class="red">See upcoming Events!</a>
        </div>
        <div class="em-button">
            <a asp-action="Index" asp-controller="Contact" class="yellow">Book for Catering</a>
        </div>
    </div>
</div>