@model WhitePie.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center">
                @foreach (var moment in Model.momentsViewModel)
                {
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="gallery-item h-100">
                            <img src="data:image/@moment.Extension;base64, @moment.FileAsBase64" class="img-fluid" alt="@moment.AltText">
                            @*TODO: ALLOW CLICK ON IMAGE TO DETAILS PAGE*@
                            @*                        <div class="gallery-links d-flex align-items-center justify-content-center">
                        <a href="~/assets/img/gallery/gallery-1.jpg" title="Gallery 1" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                        <a href="gallery-single.html" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>*@
                        </div>
                    </div>

                    <!-- End Gallery Item -->
                }
            </div>
        </div>
    </section><!-- End Gallery Section -->
</div>
