
@{
    ViewData["Title"] = "Maintenance";
    Layout = "_MaintenanceLayout";
}

<div class="text-center">
    <img src="~/img/pizza.png" alt="Logo" style="max-width:150px">
    <p>Our website is currently undergoing scheduled maintenance. We'll be back soon!</p>
</div>
