@model WhitePie.ViewModels.Events.EventListViewModel

@{
    ViewData["Title"] = "View";
}

<section class="container">
    <h1>Events</h1>
    @if (Model.Events != null)
    {
        @foreach (var item in Model.Events)
        {
            <div class="seated-events-table">
                <!---->
                <div class="seated-event-row">
                    <div class="seated-event-description-cells">
                        <div class="seated-event-date-cell">
                            Feb 17, 2023
                            <!---->
                        </div>
                        <div class="seated-event-venue-cell">
                            <div class="seated-event-venue-name">@item.Venue</div>
                            <div class="seated-event-venue-location">@item.Location</div>
                        </div>
                        <div class="seated-event-details-cell">
                            @item.EventDescription
                        </div>
                    </div>
                    <div class="seated-event-link-cells">
                        <!---->        <div class="seated-event-link-cell1">
                            <a class="seated-event-link1" href="@item.TicketUrl" target="_blank">
                                <!---->                Tickets
                                <!---->
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        }

    }
    else
    {
        <h1>No upcoming events, check back soon!</h1>
    }
</section>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@
