@model WhitePie.ViewModels.Events.EventListViewModel

@{
    ViewData["Title"] = "Events";
    ViewData["PageHeader"] = "Upcoming Events";
}

<div class="page-header d-flex align-items-center">
    <div class="container position-relative">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
                <h2>Upcoming Events</h2>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model.PastEvents)
        {
            <div class="col">
                <div class="h-100" style="position: relative">
                    <div class="bottom-right">@item.EventTimeInfo.Year</div>
                    <div class="top-right">
                        <div class="tags-list mb-2">
                            <span class="tags-list-town text-uppercase">CITY</span>
                            <span style="background-color: #28a745; text-transform: uppercase; font-weight: 800;">
                                FREE
                            </span>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="bottom-left">
                            <div class="thumbnail" style="background-color: #ffa5009e">
                                <div class="thumbnail-date">
                                    <span class="thumbnail-date-day">@item.EventTimeInfo.DayOfTheMonth</span>
                                    <span class="thumbnail-date-month">@item.EventTimeInfo.AbbreviatedMonth</span>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <img src="/assets/img/pizzabackdrop.jpg" class="card-img-top" alt="Image" />
                            <div class="image-overlay text-over text-center d-flex justify-content-center align-items-center text-uppercase">
                                <div>
                                    @item.EventDescription
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
        
