/*--------------------------------------------------------------
# Events Section
--------------------------------------------------------------*/
.edible-wrapper {
    color: #000;
    padding: 5%;
    margin-bottom: 5%;
}

.edible-events-table {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 5rem;
}

.edible-event-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 14px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.edible-event-row.edible-event-row-highlighted {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px #fff;
}

.edible-event-row:hover {
    background: rgba(0, 0, 0, 0.05);
    -webkit-transition: background 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.edible-event-description-cells {
    width: 65%;
}

.edible-event-venue-cell {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.edible-event-venue-name {
    width: 60%;
}

.edible-event-venue-location {
    width: 40%;
}

.edible-event-date-cell {
    font-weight: 700;
    text-transform: uppercase !important;
}

.edible-event-details-cell {
    display: block;
    opacity: 0.7;
}

.edible-event-link-cells {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.edible-event-link,
.edible-event-link:visited {
    color: #000;
    border: 2px solid rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    display: block;
    font-size: 12px;
    margin: 4px 0 4px 9px;
    overflow: hidden;
    padding: 6px 3px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    min-width: 120px;
    text-transform: uppercase !important;
}

.edible-event-link:hover {
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, 1);
    border-radius: 3px;
    display: block;
    font-size: 12px;
    margin: 4px 0 4px 9px;
    overflow: hidden;
    padding: 6px 3px;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    min-width: 120px;
    text-transform: uppercase !important;
    -webkit-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.edible-modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 75px;
    background: rgba(0, 0, 0, 0.8);
    /* This is the highest possible z-index value */
    z-index: 2147483647;
}

.edible-modal-container .edible-modal {
    width: 100%;
    height: 100%;
}

.edible-modal-container .edible-modal-hidden {
    display: none;
}

.edible-modal-container .edible-modal-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edible-modal-container .edible-modal-loading .edible-modal-loading-spinner {
    width: 60px;
    height: 60px;
    color: #fff;
    animation: spin 1s linear infinite;
}

@media screen and (max-width: 640px) {
    .edible-modal-container {
        padding: 0;
    }
}

@media screen and (max-width: 1024px) {
    .edible-event-link-cells {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .edible-event-venue-name {
        width: 90%;
    }

    .edible-event-venue-location {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .edible-event-venue-cell {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

@media screen and (max-width: 580px) {
    .edible-event-row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .edible-event-description-cells {
        width: 100%;
        text-align: center;
    }

    .edible-event-venue-cell {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 0px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
