// Fonts
$font-default: '"Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"';
$font-primary: '"Inter", sans-serif';
$font-secondary: '"Cardo", sans-serif';

// Colors
$default: #fafafa;
$primary: #FF0000;
$secondary: #FFCE00;

@import 'general';
@import 'header';
@import 'nav';
@import 'sections';
@import 'hero';
@import 'footer';
